@keyframes rotateCup {
    from {
        transform: rotate(0deg);
    }
    12% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(0deg);
    }
    37% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    12% {
        transform: scale(1.15);
    }
    25% {
        transform: scale(1);
    }
    37% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes shoeWalk {
    from {
        transform: rotate(-10deg) translate(0px, 0px);
    }
    12% {
        transform: rotate(20deg) translate(-10px, -3px);
    }
    25% {
        transform: translateX(0px);
    }
    37% {
        transform: rotate(-55deg) translate(15px, 30px);
    }
    50% {
        transform: rotate(-10deg) translate(0px, 0px);
    }
    to {
        transform: rotate(-10deg) translate(0px, 0px);
    }
}