@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';


* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}


@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .advantages {
        &__icons {
            width: 900px;
        }
    }
}


@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .advantages {
        &__icons {
            width: 700px;
        }
        &__icon {
            width: 200px;
        }
    }
}


@media (max-width: 767px) {
    .container {
        max-width: 520px;
    }
    .header {
        flex-wrap: wrap;
        &__logo {
            margin-top: 10px;
            width: 220px;
        }
        &__contacts {
            flex-direction: row;
            justify-content: space-between;
            width: 505px;
        }
        &__phone {
            margin-top: 10px;
            margin-left: 22px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__icons {
            margin-top: 30px;
            width: 520px;
            flex-direction: column;
        }
        &__icon {
            display: flex;
            justify-content: space-between;
            width: 520px;
            img {
                width: 70px;
                height: 65px;
                margin-top: 30px;
            }
            span {
                margin-bottom: 0;
            }
        }
        &__descr {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 400px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}


@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
        &__logo {
            width: 270px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            flex-direction: column;
            align-items: center;
            width: 505px;
        }
        &__phone {
            margin:  10px 0;
        }
    }
    .promo {
        min-height: 640px;
        padding: 18px 0;
        &__wrapper {
            margin-top: 60px;
            text-align: center;
        }
        &__header {
            line-height: 50px;
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            margin-top: 30px;
            width: 300px;
        }
        &__icon {
            font-size: 13px;
        }
    }
    .button {
        display: none;
    }
    .button_main {
        display: inline-block;
        margin-top: 30px;
        width: 260px;
    }
    .advantages {
        padding: 40px 0 30px 0;
        &__icons {
            width: 300px;
        }
        &__icon {
            flex-direction: column;
            width: 300px;
        }
        &__descr {
            width: 300px;
        }
    }
}