.button {
    width:150px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #830505;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background-color: $buttons-color;
    color: #ffffff;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.12);
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
        box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.12);
    }
    &:hover {
        border: 1px solid #ffffff;
    }
}