.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        .slick-dots {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            width: 300px;
            padding: 0;
            li.slick-active {
                button {
                    background-color: $buttons-color;
                }
            }
            button {
                width: 80px;
                height: 10px;
                font-size: 0;
                border-radius: 3px;
                border: 1px solid #830505;
                box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
            }
            
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
            
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
}