@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .advantages {
        &__icons {
            width: 900px;
        }
    }
}


@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .advantages {
        &__icons {
            width: 700px;
        }
        &__icon {
            width: 200px;
        }
    }
    .consultation {
        min-height: 640px;
        padding: 53px 0 35px 0;
    }
    .carousel {
        &__inner {
            width: 680px;
            img {
                width: 100%;
            }
        }
    }
}


@media (max-width: 767px) {
    .container {
        max-width: 520px;
    }
    .header {
        flex-wrap: wrap;
        &__logo {
            margin-top: 10px;
            width: 220px;
        }
        &__contacts {
            flex-direction: row;
            justify-content: space-between;
            width: 505px;
        }
        &__phone {
            margin-top: 10px;
            margin-left: 22px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        min-height: 443px;
        padding: 63px 0 35px 0;
        &__icons {
            margin-top: 30px;
            width: 520px;
            flex-direction: column;
        }
        &__icon {
            display: flex;
            justify-content: space-between;
            width: 520px;
            img {
                width: 70px;
                height: 65px;
                margin-top: 30px;
            }
            span {
                margin-bottom: 0;
            }
        }
        &__descr {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 400px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .title {
        &_left {
            text-align: center;
            font-size: 32px;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        input{
            margin-bottom: 20px;
        }
    }
    .carousel {
        &__inner {
            width: 530px;
            img {
                width: 100%;
            }
            .slick-dots {
                width: 270px;
                button {
                    width: 70px;
                    height: 9px;
                }
            }
        }  
    } 
}


@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
        &__logo {
            width: 270px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            flex-direction: column;
            align-items: center;
            width: 505px;
        }
        &__phone {
            margin:  10px 0;
        }
    }
    .promo {
        min-height: 640px;
        padding: 18px 0;
        &__wrapper {
            margin-top: 60px;
            text-align: center;
        }
        &__header {
            line-height: 42px;
            font-size: 30px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__icons {
            margin-top: 30px;
            width: 300px;
        }
        &__icon {
            font-size: 13px;
        }
    }
    .button {
        display: none;
    }
    .button_main {
        display: inline-block;
        margin-top: 30px;
        width: 260px;
    }
    .advantages {
        padding: 40px 0 30px 0;
        &__icons {
            width: 300px;
        }
        &__icon {
            flex-direction: column;
            width: 300px;
        }
        &__descr {
            width: 300px;
        }
    }
    .title {
        font-size: 22px;
        &_left {
            font-size: 20px;
            line-height: 32px;
        }
    }
    .consultation {
        &__descr {
            font-size: 18px;
            line-height: 26px;
        }
    }
    .feed-form {
        input{
            margin-bottom: 25px;
        }
    }
    .button_submit {
        display: inline-block;
    }
    .carousel {
        &__inner {
            width: 300px;
            img {
                width: 100%;
            }
            .slick-dots {
                width: 230px;
                button {
                    width: 60px;
                    height: 8px;
                }
            }
        }  
    } 
}