.reviews {
    min-height: 920px;
    padding-bottom: 60px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &-item {
        display: flex;
        margin-top: 60px;
        &__img {
            margin-right: 60px;
            width: 169px;
            height: 169px;
        }
        &__text {
            display: flex;
            flex-direction: column;
            width: 680px;
        }
        &__header {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: $font-black-color;
            text-decoration: none;
            &:hover {
                color: $button-color;
            }
        }
        &__subheader {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        }
        &__descr {
            margin-top: 10px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $font-black-color;
            div {
                margin-top: 10px;
            }
        }
    }
}